.feed__container {
    background: #f8f9fa;
}

.feed__container--body {
    width: 100%;
    min-height: 64vh;
    background: white;
}

.feed__container--cards {
    max-width: 700px;
    margin-right: auto;
    margin-left: auto;
}

.feed__container--footer {
    min-height: 80px;
}

.feed__container--body--spinner {
    padding: 25px;
}