.post__container {
    background: white;
}

.post__container--body {
    width: 100%;
    min-height: 70vh;
}

.post__container--goback {
    margin: 15px;
}

.post__comment__container {
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 15px;
    margin-bottom: 50px;
}

.post__comment__no-found {
    width: 95%;
    text-align: center;
    font-size: 1.5em;
}